<div id="wrapper">
  <div class="error_content" id="project-access-msg">
<div class="container">
    <h1>E-MAIL전송하는 페이지입니다.</h1>
    <h3>절대 오류나지 않았습니다.</h3>
    <form action="/write" method="POST">
<div class="form-group">
  <label for="title">이메일 제목</label>
  <br>
  <input name="title" type="text" class="form-control" id="title">
</div>
<div class="form-group">
  <label for="usr">받는 사람</label>
  <br>
  <input name="email" type="email" class="form-control" id="email">
</div>
<div class="form-group">
  <label for="cont">내용</label>
  <br>
    <textarea name="content" class="form-control" rows="7" id="cont"></textarea>
</div>
<button type="submit" class="btn btn-default">제출</button>
</form>
</div>
</div>
</div>